@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: var(--vscode-editor-background);
  color: var(--vscode-editor-foreground);
  font-family: var(--vscode-font-family);
  font-size: var(--vscode-font-size);
  padding: 0;
  margin: 0;
}
